:root {
    --colour-header-stripe: #62B5E5;
    --colour-logo-background: #24303b;
    --colour-glow: #F9F871;
  
  
    --text-primary: #473347;
    --text-secondary: #df49a6;

    --bg-primary:   #BABABB;
    --bg-secondary: #141418;
  
    --transition-speed: 600ms;
  }
  